.text-bg {
    width: 65%;
    padding: 11px 20px;
    border-bottom-right-radius: 60px;
}

h1 {
    font-size: 80px;
}

.filter-main {
    border-radius: 15px;
}

.tabs-set .nav-tabs button {
    padding: 0;
}

.tabs-set .nav-tabs button,
.nav-tabs,
.nav-item {
    border: 0px;
    background: transparent !important;
    color: #000;
}

.nav-item {
    padding: 0 20px;
}

.tabs-set button:hover {
    background: transparent;
}

.nav-tabs .active {
    border-bottom: 2px solid #000 !important;
}

.drop-col p {
    margin-bottom: 5px;
    font-size: 24px;
}

.drop-col .drop-btn {
    border: 2px solid #9c9c9c;
    border-radius: 8px;
    padding: 14px;
    color: #9c9c9c;
    font-size: 20px;
}

.submit-btn {
    border-radius: 50px;
    padding: 12px 28px;
    font-size: 20px;
}

.class1{
    /* height: 200px;
    width: 200px; */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color:#000;
    color: #fff;
    padding: 35px;
}

.main-card-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}